[Unit]
Description=Check GitHub for MechaHassaku updates every 5 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min

[Install]
WantedBy=timers.target
