[Unit]
Description=Deploy the latest MechaHassaku main branch
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/mechahassaku-deploy
